# example1.cfg
# Creation date : jeu. juin 6 2013
#
# This file is part of CfgParser libraries.
#
# CfgParser is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# CfgParser is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with CfgParser.  If not, see <http://www.gnu.org/licenses/>.
#
# @author : Eté Rémi
# @version 0.1.0 13/08/2013
# @copyright 2013 Eté Rémi
#
#
# DESCRIPTION:
#
# example of cfg file with a default
# section a section called 'mySection'
# containg normal value and interploated
# values. See example binaries for code usage  



[DEFAULT]

anImportantInt = 5
aFloat = 60.4


[mySection]

anInteger : 78
aFloat : 54.2
anIntVector : 45:856:48:785412:965
aMultiLineValue = this is a 
    long string
bibou: babouba
myOption : myValue %(aFloat)s and %(bibou)s

unTexte : je suis un lama

